.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: #f2f2f2;
  text-align: center;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.banner h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 20px;
}

.explore-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
}

.explore-button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .banner h2 {
    font-size: 24px;
  }

  .banner p {
    font-size: 16px;
  }
}

.categories-container {
  margin: auto 0;
  display: flex;
  justify-content: center;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  width: 250px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.category h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.category p {
  font-size: 14px;
  color: #555;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .categories-container {
    margin: auto;
  }

  .category {
    width: 100%;
    margin: 10px 0;
  }
}
